.u-center-text {
  text-align: center; }

.u-margin-top-small {
  margin-top: 1.3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  margin: 2rem;
  background-color: #f7f1e3; }

.secondary-heading {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #34ace0, #227093);
  color: transparent;
  transition: all .3s;
  margin: 3rem;
  display: inline-block;
  text-transform: uppercase; }
  .secondary-heading:hover {
    transform: skewY(10deg) scale(1.2); }

.tertiary-heading {
  font-weight: 500;
  font-size: 1.4rem;
  margin: 1rem 0;
  display: inline-block; }

.frayed-box-text {
  text-align: center;
  height: 8rem;
  position: relative;
  background-color: rgba(132, 129, 122, 0.5);
  clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0); }
  .frayed-box-text__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 4rem;
    font-size: 1.3rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  transition: all .2s; }
  .btn:link, .btn:visited {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: #000;
    border-radius: 2rem;
    padding: .7rem 1.5rem;
    color: #f7f1e3;
    display: inline-block;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover {
    transform: translateY(-0.3rem) scale(1.2);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); }

.card {
  perspective: 50rem;
  width: 100%;
  height: 19rem;
  position: relative; }
  .card__front, .card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    height: 100%;
    transition: all 1s ease;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .card__front {
    background-color: #34ace0; }
  .card__back {
    transform: rotateY(180deg);
    background-image: linear-gradient(to bottom right, #ffda79, #cc8e35);
    font-size: 1rem; }
    .card__back--secondary {
      background-image: linear-gradient(to bottom right, #34ace0, #227093); }
    .card__back--tertiary {
      background-image: linear-gradient(to bottom right, #33d9b2, #218c74); }
  .card:hover .card__front {
    transform: rotateY(180deg); }
  .card:hover .card__back {
    transform: rotateY(360deg); }
  .card__content {
    width: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3); }
  .card__row {
    display: block;
    width: 90%;
    margin: 0 auto; }
    .card__row::after {
      display: table;
      content: "";
      clear: both; }
    .card__row:not(:last-child) {
      margin-bottom: .5rem;
      border-bottom: 1px solid #84817a;
      padding-bottom: .5rem; }
  .card__key {
    float: left; }
  .card__value {
    float: right;
    width: 70%;
    text-align: center; }

.header {
  background-image: url("../../resources/beer-barrel.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  height: 75vh;
  position: relative; }
  .header__content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__icon {
    height: 17rem;
    padding: 1rem;
    background-color: rgba(255, 177, 66, 0.5);
    border-radius: .5rem; }
  .header__brand {
    margin-top: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ffb142, #ffda79);
    color: transparent;
    transition: all .2s; }
    .header__brand:hover {
      transform: skewX(15deg) scale(1.2); }

.row {
  margin: 0 auto;
  max-width: 50rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 7rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

.section-about-us {
  position: relative;
  height: 75vh; }

.section-shop {
  height: 130vh;
  width: 100%;
  transform: skewY(-7deg);
  background-image: linear-gradient(to bottom right, #f7f1e3, #d1ccc0);
  margin-top: -5rem;
  padding: 4rem 0; }
  .section-shop > * {
    transform: skewY(7deg); }
