// COLORS

$color-primary: #ffb142;
$color-primary-dark: #cc8e35;
$color-primary-light: #ffda79;

$color-secondary: #34ace0;
$color-secondary-dark: #227093;
$color-secondary-light: #706fd3;

$color-tertiary: #33d9b2;
$color-tertiary-dark: #218c74;

$color-white: #fff;
$color-black: #000;

$color-off-white: #f7f1e3;
$color-grey: #aaa69d;
$color-grey-dark: #84817a;
$color-grey-light: #d1ccc0;

// GRID
$grid-width: 50rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;